*{
	margin: 0;
	padding: 0;
}

body{
	width: 400px;
	height: 200px;
}

header{
	text-align: center;
}

header .logo img{
	width: 50px;
	display: block;
	margin: 0 auto;
}

.emojis{
	font-size: 40px;
}

.emojis span{
	cursor: pointer;
}

.success{
	width: 100%;
	height: 50px;
	background-color: green;
	display: none;
	color: #FFF;
	text-align: center;
	font-size: 40px;
}